; Config file for the DualModeEeeSimulator
;
; Link capacity (in b/s)
LINK 40e9
;
; Traffic characteristics:
; deterministic|poisson|pareto arrival_rate (in b/s) frame_size (in bytes) [alpha (if pareto)]
; or
; trace file_name frame_size (in bytes)
TRAFFIC poisson 10000000000 1500
;
; EEE physical parameters
; Fast wake parameters: consumption (in %) active2fast (in s) fast2active (in s)
FAST 0.7 0.9e-6 0.34e-6
; Deep sleep parameters: consumption (in %) fast2deep (in s) deep2active (in s)
DEEP 0.1 1e-6 5.5e-6
;
; EEE configuration parameters: fast2deep (in s) max_delay (in s) fast2active (in frames) deep2active (in frames)
EEE 3.5e-6 0 8 16
;
