; Config file for the DualModeEeeSimulator
;
; Link capacity (in b/s)
LINK 40e9
;
; Traffic characteristics
; Interarrival times: deterministic|poisson|pareto arrival_rate (in b/s) [alpha_parameter (if pareto)] or trace file_name
; Frame sizes: deterministic|uniform|bimodal avg_size (in bytes) [range_length (if uniform)] or trace file_name
TRAFFIC poisson 10e9 deterministic 1500
;
; EEE physical parameters
; Fast wake parameters: consumption (in %) active2fast (in s) fast2active (in s)
FAST 0.7 0.18e-6 0.34e-6
; Deep sleep parameters: consumption (in %) fast2deep (in s) deep2active (in s)
DEEP 0.1 0.72e-6 5.5e-6
;
; EEE operation mode: dual|fast|deep|dual_dyn|fast_dyn|deep_dyn|fast_mul|deep_mul|fast_time_dyn|deep_time_dyn|mostowfi
; EEE configuration parameters: target_delay (in s) max_delay (in s) fast2active (in frames) deep2active (in frames) max_fast_time (in s)
EEE dual 0 0 4 8 3.5e-6
;
